@charset "UTF-8";

/* Media Queries for PSPs */

@media (min-width: 40em) {
    section#psp-page-section {
        margin: 0 auto;
        max-width: 90rem;
        padding: 0.5rem 1rem 0;
        width: 100%;
    }
}

@media (max-width: 48em) {
    section#psp-page-section {
        padding: 0.5rem;
    }

    section#psp-page-section > header > h1 {
        display: block;
        padding-right: 0;
        border-right: none;
        margin-bottom: 0.5rem;
    }

    ul.breadcrumbs {
        padding: 0 0 0.5rem;
        display: block;
    }

    #psp-content {
        padding: 1rem;
    }

    pre {
        font-size: 0.8175rem;
    }

    table th,
    table td {
        padding: 0.35rem 0.5rem;
    }
}

@media print {
    *,
    *:before,
    *:after {
        color: #000 !important;
    }

    body {
        font-size: 10pt;
        line-height: 1.67;
        background: #fff !important;
    }

    section#psp-page-section > header,
    #psp-sidebar,
    .theme-toggle-label {
        display: none !important;
    }

    .psp-layout {
        display: block;
    }

    #psp-content {
        max-width: none;
        width: auto;
        margin: 0;
        padding: 0;
        overflow: visible;
    }

    #psp-content > article {
        max-width: 17.5cm;
        margin: 0 auto;
    }
}
